@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/*Configuração dos navegadores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

a,ul{
    text-decoration: none;
    list-style: none;
}

